@using System.Security.Principal

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalBlog.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                         <img 
                             src="~/images/PB_logo_index.png"
                             alt=""
                             width="30"
                             height="30" 
                          />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="BlogPosts" asp-action="Index">Blog Entry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="BlogPosts" asp-action="ShowSearchForm">Search</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li>
                                <a class="nav-link" title="Manage" href="/Identity/Account/Manage">
                                    <img src="~/images/gear.svg" class="filter-gray">
                                </a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="nav-link btn btn-link"><img src="~/images/box-arrow-right.svg" class="filter-gray"></button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Identity/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Identity/Account/Login">Login</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <footer mt-auto">
                <div class="container">
                    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                        <div class="me-5 d-none d-lg-block">
                            <span>Share PERSONALBLOG on social media:</span>
                        </div>
                        <div>
                            <a class="me-4 text-reset" target="_blank" href="https://www.youtube.com">
                                <i>
                                    <img src="~/images/youtube.svg" class="filter-gray">
                                </i>
                            </a>
                            <a class="me-4 text-reset" target="_blank" href="https://www.facebook.com">
                                <i>
                                    <img src="~/images/facebook.svg" class="filter-gray">
                                </i>
                            </a>
                            <a class="me-4 text-reset" target="_blank" href="https://www.twitter.com">
                                <i>
                                    <img src="~/images/twitter.svg" class="filter-gray">
                                </i>
                            </a>
                            <a class="me-4 text-reset" target="_blank" href="https://www.linkedin.com">
                                <i>
                                    <img src="~/images/linkedin.svg" class="filter-gray">
                                </i>
                            </a>
                        </div>
                    </section>
                    <section class="text-center text-md-start mt-5">
                        <div class="row mt-3">
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                <h6 class="text-uppercase fw-bold mb-4">
                                    PersonalBlog
                                </h6>
                                <p>
                                    Best place to keep track of you personal blog. Created by developers for every user.
                                </p>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="text-uppercase fw-bold mb-4">
                                    cookie
                                </h6>
                                <p>
                                    <a class="text-reset" asp-area="" asp-controller="Home" asp-action="CookiePolicy">Cookie policy</a>
                                </p>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="text-uppercase fw-bold mb-4">
                                    terms
                                </h6>
                                <p>
                                    <a class="text-reset" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </p>
                            </div>
                            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                <h6 class="text-uppercase fw-bold mb-4">
                                    about
                                </h6>
                                <p>
                                    <a class="text-reset" asp-area="" asp-controller="Home" asp-action="About">About us</a>
                                </p>
                            </div>
                        </div>
                    </section>
                    <div class="text-center">
                        © 2023 Copyright:
                        <a class="text-reset" asp-area="" asp-controller="Home" asp-action="Index">personalblog.com</a>
                    </div>
                </div>
            </footer>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
