@{
    ViewData["Title"] = "About";
}

<h7>About us</h7>

<div>
    <hr/>
</div>

<div class="continer pb-6">

        <div class="row">
            <div class="col-md-6">
                <div class="bg-image shadow-1 rounded-1">
                <img src="~/images/PB_logo_index.png" class="w-100">
                </div>
            </div>

            <div class="col-md-6 my-5">
                <p>
                    Personalblog is a service company that builds software designed to improve keeping personal blog on track.
                    Our software is simple and efficient, scalable to everyplatform to meet the needs of anyone looking for best selfblog experiance.
                </p>
            </div>
        </div>
</div>
