@{
    ViewData["Title"] = "Home Page";
}

<div class="continer pb-6">
    <section id="section-opener" class="mt-lg-4 mb-6">
        <div class="row">
            <div class="col-md-7">
                <h1 class="mb-4">Create and track your personal blog</h1>
                <h2>easier than before</h2>
                <div>
                    <ol>
                        <li class="list-unstyled mt-4 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                            Free personal blog content storage
                        </li>
                        <li class="list-unstyled mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                            Fast and reliable
                        </li>
                        <li class="list-unstyled mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                            Simple and clean UI
                        </li>
                        <li class="list-unstyled mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                            Access from multiple platforms
                        </li>
                        <li class="list-unstyled mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                            More arguments to come!
                        </li>
                    </ol>
                </div>
            </div>

            <div class="col-md-5 my-5">
                <div class="bg-image shadow-1 rounded-1">
                    <img src="https://cdn.dribbble.com/users/2007778/screenshots/14759059/media/fb33712816bc9d6019abbde168e87a7a.jpg?compress=1&resize=1000x750&vertical=center" class="w-100">
                </div>
            </div>
        </div>
    </section>
    <section id="section-center" class="text-center mt-4 pt-4 mt-md-5 pt-md-5 pb-5">
        <p>
            <small>
                Trusted
                <strong>
                    by 1,000,000+
                </strong>
                users around the world
            </small>
        </p>
    </section>
    <hr class="divider-horizontal-blurry mt-5"/>
    <section id="section-usingsteps" class="py-5">
        <h1 class="text-center pt-5">It couldn't be easier</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <section class="design-section">
                    <div class="timeline">
                        <div class="timeline-empty"></div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-component timeline-content">
                            <h1>Create a free account</h1>
                            <p>Personalblog.com is free to use platform to keep track of your personal content.</p>
                        </div>
                        <div class="timeline-component timeline-content">
                            <h1>Log in</h1>
                            <p>If you already have an personalblog.com account, just log in.</p>
                        </div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class="timeline-empty"></div>
                        <div class="timeline-empty"></div>
                        <div class="timeline-middle">
                            <div class="timeline-circle"></div>
                        </div>
                        <div class=" timeline-component timeline-content">
                            <h1>Publish your personal content to the internet</h1>
                            <p>Go to your project contetn & decide if it's private or share it to your friends.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>

