@model PersonalBlog.Models.BlogPost

@{
    ViewData["Title"] = "Delete";
}

<h7>Delete</h7>

<div>
    <hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entry)
        </dd>
        <dt class = "col-sm-2">
            Entry Content
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryContent)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-secondary mt_button mb_button" />
        <a asp-action="Index" asp-route-id="@Model?.Id" class="btn btn-outline-secondary mt_button mb_button">Back to List</a>
    </form>
</div>
